@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

.stroketext{
    color: transparent;
    font-size:80px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(233, 255, 137);
}
.stroketext2{
    color: transparent;
    font-size:70px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(137, 255, 235);

}


.figures{
    display: flex;
    gap: 36px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 220, 62, 0.5);
    flex-direction: row;
    margin-top: 500px;
    transition: background-color 0.5s ease-in-out;
    margin-bottom: 10px;
    margin-left: 1px;
    

}

.figures div{
    display:flex;
    flex-direction: column;
}

.figures div span:first-of-type{
    color: rgb(243, 255, 72);
    font-size: 36px;


}

.figures div span:nth-of-type(2){
    color: rgb(73, 224, 204);
    text-transform: uppercase;
}

.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   
}

.btn-btn-danger{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(224, 73, 73);
    border: whitesmoke;
    border-radius: 12px;
    padding: 17px;
}
.home{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    flex-direction: row;
    padding: 25px;
    color: aliceblue;
    margin-left: 20px;
    
}

.navbar{
    background-image: linear-gradient(90deg, black,rgb(66, 66, 66) ,black);
    color: antiquewhite;

}
.container{
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-image: linear-gradient(90deg, black,rgb(66, 66, 66) ,black);
    
}
.container{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(90deg, black,rgb(66, 66, 66) ,black);

}


.card-body{
    background-image: linear-gradient(90deg, rgba(105, 143, 214, 0.39),rgb(66, 66, 66) ,rgb(124, 181, 255));
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.tracker-body{
    background-image: linear-gradient(90deg, rgba(31, 31, 31, 0.39),rgb(255, 239, 93) ,rgb(255, 248, 185));
}
.form-control{
    padding: 10px;
    border-radius: 10px black;
    border: 2px solid black;

}

.list-group-item{
    border: 1px solid black;

}

.list-group-item:hover{
    background-color: rgba(153, 153, 153, 0.5);
}
.list-group{
    border: 2px dotted black;

}
